n8n/Air Duino.json
{
  "name": "Air Duino",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-sensor",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        -144
      ],
      "id": "47fe2611-609d-4871-81ef-252f443ca1ff",
      "name": "POST History",
      "webhookId": "e1acbe4e-49c1-4e43-8402-7a6907aec2f8"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "hardware",
          "mode": "list",
          "cachedResultName": "hardware"
        },
        "table": {
          "__rl": true,
          "value": "airduino",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "vl_temperature": "={{ $json.body.temperatura }}",
            "vl_gas_co": "={{ $json.body.qualidade_ar.ppm_co }}",
            "vl_gas_co2": "={{ $json.body.qualidade_ar.ppm_co2 }}",
            "vl_gas_nh3": "={{ $json.body.qualidade_ar.ppm_nh3 }}",
            "ts_medicao": "={{ $now }}",
            "vl_humidity": "={{ $json.body.umidade }}",
            "tx_status": "={{ $json.body.aqi_status }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ts_medicao",
              "displayName": "ts_medicao",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vl_humidity",
              "displayName": "vl_humidity",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vl_temperature",
              "displayName": "vl_temperature",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vl_gas_co",
              "displayName": "vl_gas_co",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vl_gas_co2",
              "displayName": "vl_gas_co2",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vl_gas_nh3",
              "displayName": "vl_gas_nh3",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tx_status",
              "displayName": "tx_status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        32,
        -144
      ],
      "id": "552543b7-9170-4fc6-bcb4-b1dc63e066e7",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "yds61vLCWeV8FuAS",
          "name": "Postgres Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE SCHEMA IF NOT EXISTS hardware;\n\nDROP TABLE IF EXISTS hardware.\"airduino\";\n\nCREATE TABLE IF NOT EXISTS hardware.\"airduino\" (\n\t\"id\" INTEGER NOT NULL UNIQUE GENERATED BY DEFAULT AS IDENTITY,\n\t\"ts_medicao\" TIMESTAMP NOT NULL,\n\t\"vl_humidity\" NUMERIC NOT NULL,\n\t\"vl_temperature\" NUMERIC NOT NULL,\n\t\"vl_gas_co\" NUMERIC NOT NULL,\n\t\"vl_gas_co2\" NUMERIC NOT NULL,\n\t\"vl_gas_nh3\" NUMERIC NOT NULL,\n\t\"tx_status\" TEXT NOT NULL,\n\tPRIMARY KEY(\"id\")\n);\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        304
      ],
      "id": "97774ab2-a998-47ff-b1b3-b41147879aec",
      "name": "CREATE",
      "credentials": {
        "postgres": {
          "id": "yds61vLCWeV8FuAS",
          "name": "Postgres Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "hardware",
          "mode": "list",
          "cachedResultName": "hardware"
        },
        "table": {
          "__rl": true,
          "value": "airduino",
          "mode": "list",
          "cachedResultName": "airduino"
        },
        "returnAll": true,
        "sort": {
          "values": [
            {
              "column": "ts_medicao"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        32,
        80
      ],
      "id": "8583167f-2c44-4970-9f10-a70d28277a02",
      "name": "Select rows from DB",
      "credentials": {
        "postgres": {
          "id": "yds61vLCWeV8FuAS",
          "name": "Postgres Account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const rows = items.map(i => i.json);\n\n// Extract arrays for charts\nconst labels = rows.map(r => r.ts_medicao);\nconst temp = rows.map(r => r.vl_temperature);\nconst hum  = rows.map(r => r.vl_humidity);\nconst co2  = rows.map(r => r.vl_gas_co2);\nconst co   = rows.map(r => r.vl_gas_co);\nconst nh3  = rows.map(r => r.vl_gas_nh3);\n\nlet html = `\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n<meta charset=\"UTF-8\" />\n<title>Airduino Dashboard</title>\n\n<script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n\n<style>\n  body { font-family: Arial, sans-serif; background: #fafafa; margin: 0; }\n  .navbar {\n    background: #1e90ff; padding: 14px; display: flex; gap: 20px;\n  }\n  .navbar a {\n    color: white; text-decoration: none; font-size: 18px; cursor: pointer;\n  }\n  .navbar a:hover { text-decoration: underline; }\n  .container {\n    max-width: 1200px; margin: auto; padding: 20px;\n    background: white; border-radius: 10px;\n    box-shadow: 0 0 10px rgba(0,0,0,0.1);\n    margin-top: 20px;\n  }\n  h2 { text-align: center; }\n  .hidden { display: none; }\n  table { width: 100%; border-collapse: collapse; margin-top: 20px; }\n  th, td { border: 1px solid #ddd; padding: 10px; text-align: center; }\n  th { background-color: #1e90ff; color: white; }\n  tr:nth-child(even) { background: #f9f9f9; }\n  tr:hover { background: #e6f2ff; }\n  canvas { margin-top: 30px; }\n</style>\n</head>\n\n<body>\n\n<!-- NAVBAR -->\n<div class=\"navbar\">\n  <a onclick=\"showTab('home')\">🏠 Home</a>\n  <a onclick=\"showTab('history')\">📜 History</a>\n</div>\n\n<div class=\"container\">\n\n<!-- HOME TAB -->\n<div id=\"home\" class=\"tab\">\n  <h2>Dashboard - Airduino</h2>\n\n  <canvas id=\"chartTempHum\"></canvas>\n  <canvas id=\"chartCO2\"></canvas>\n  <canvas id=\"chartCO\"></canvas>\n  <canvas id=\"chartNH3\"></canvas>\n</div>\n\n<!-- HISTORY TAB -->\n<div id=\"history\" class=\"tab hidden\">\n  <h2>Histórico de Sensores - Airduino</h2>\n  <table>\n    <tr>\n      <th>Data</th>\n      <th>Temperatura</th>\n      <th>Umidade</th>\n      <th>CO (ppm)</th>\n      <th>CO₂ (ppm)</th>\n      <th>NH₃ (ppm)</th>\n      <th>Status</th>\n    </tr>`;\n\nfor (const r of rows) {\n  html += `\n    <tr>\n      <td>${r.ts_medicao ?? '-'}</td>\n      <td>${r.vl_temperature ?? '-'}</td>\n      <td>${r.vl_humidity ?? '-'}</td>\n      <td>${r.vl_gas_co ?? '-'}</td>\n      <td>${r.vl_gas_co2 ?? '-'}</td>\n      <td>${r.vl_gas_nh3 ?? '-'}</td>\n      <td>${r.tx_status ?? '-'}</td>\n    </tr>`;\n}\n\nhtml += `\n  </table>\n</div>\n\n</div> <!-- container -->\n\n\n<script>\n// TAB SWITCHER\nfunction showTab(tab) {\n  document.getElementById(\"home\").classList.add(\"hidden\");\n  document.getElementById(\"history\").classList.add(\"hidden\");\n  document.getElementById(tab).classList.remove(\"hidden\");\n}\n\n// CHART DATA FROM DB\nconst labels = ${JSON.stringify(labels)};\nconst temp = ${JSON.stringify(temp)};\nconst hum = ${JSON.stringify(hum)};\nconst co2 = ${JSON.stringify(co2)};\nconst co = ${JSON.stringify(co)};\nconst nh3 = ${JSON.stringify(nh3)};\n\n// TEMPERATURE & HUMIDITY\nnew Chart(document.getElementById('chartTempHum'), {\n  type: 'line',\n  data: {\n    labels,\n    datasets: [\n      { label: 'Temperatura (°C)', data: temp, borderColor: 'red', fill: false },\n      { label: 'Umidade (%)', data: hum, borderColor: 'blue', fill: false }\n    ]\n  }\n});\n\n// CO2\nnew Chart(document.getElementById('chartCO2'), {\n  type: 'line',\n  data: {\n    labels,\n    datasets: [\n      { label: 'CO2 (ppm)', data: co2, borderColor: 'green', fill: false }\n    ]\n  }\n});\n\n// CO\nnew Chart(document.getElementById('chartCO'), {\n  type: 'line',\n  data: {\n    labels,\n    datasets: [\n      { label: 'CO (ppm)', data: co, borderColor: 'orange', fill: false }\n    ]\n  }\n});\n\n// NH3\nnew Chart(document.getElementById('chartNH3'), {\n  type: 'line',\n  data: {\n    labels,\n    datasets: [\n      { label: 'NH3 (ppm)', data: nh3, borderColor: 'purple', fill: false }\n    ]\n  }\n});\n</script>\n\n</body>\n</html>\n`;\n\nreturn [{ json: { html } }];\n"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        256,
        80
      ],
      "id": "d5919e26-1d80-42ef-b627-6034758d5f54",
      "name": "Build HTML Table"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json[\"html\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        480,
        80
      ],
      "id": "d32e2b9a-d506-4195-8cd8-c02fb208f825",
      "name": "Respond HTML"
    },
    {
      "parameters": {
        "path": "history-sensor",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        80
      ],
      "id": "e898a2f6-0eb2-4c1a-9bf9-2ff8fb123599",
      "name": "GET History",
      "webhookId": "e1acbe4e-49c1-4e43-8402-7a6907aec2f8"
    }
  ],
  "pinData": {
    "POST History": [
      {
        "json": {
          "headers": {
            "host": "primary-production-fb02.up.railway.app",
            "content-length": "148",
            "content-type": "application/json",
            "x-forwarded-for": "79.127.227.69",
            "x-forwarded-host": "primary-production-fb02.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/europe-west4-drams3a",
            "x-railway-request-id": "E-24UhjQRDGOxefV5nX1uw",
            "x-real-ip": "79.127.227.69",
            "x-request-start": "1763421587355",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "umidade": 40,
            "temperatura": 80,
            "qualidade_ar": {
              "ppm_co2": 579.31,
              "ppm_co": 1178.34,
              "ppm_nh3": 155.32
            },
            "aqi_status": "Alerta (Moderado)"
          },
          "webhookUrl": "https://primary-production-fb02.up.railway.app/webhook/update-sensor",
          "executionMode": "production"
        }
      }
    ],
    "GET History": [
      {
        "json": {
          "headers": {
            "host": "primary-production-fb02.up.railway.app",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-PT,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "cache-control": "max-age=0",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX184Rbw1bRCRJQzwd1eKLCw2M7b8NrhHitA%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX18wW8vgbDKAHmv9wg8HUGzyCXWpNz4UvKQ%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2Bemy8oORa8PgO5bEFNMf8B1wb38RumHeqTtACQKkONvvN6cQdeREphuxi2scpnSDEROqeIKlRtIQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2Bz5nLTlwJl8OmsTUn7F6%2F00KpyVrSAJYTNbsNZ0VIWROfVc8hsvKSj7%2FIfXkcm5GCJ%2FFwG35ZCcaztGyFmTW0IWiVSHUJan7GcYze3m%2Bg1KxJ04Fp7I8HywuujB5Cffn1HRJvBKPkjQgEct3PuTtxTBuW7wrhJt0M%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FDj1EhToHD0jsTxt51lJ9M2N5ZyuSrw7QOhik1wsreMAKP3RVuiLU%2FoLjjee8koakgOJAF%2FaD5ko9KBGIa8PCGo%2B8vXVFGzViYvUxqWv8yuN%2BkUZbteslS343uc%2BrxWLi%2FcF18EiFyqgNOmYUsi8jpE5ynVvu6vsM%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22ae55024bd5cbcb660f23e7f005803e40434b65fc5b9535b0f2723cb2bbb76e1c%2335c7f969-6cbf-48ce-8787-ca4961737af3%22%2C%22%24sesid%22%3A%5B1763422281182%2C%22019a9402-5513-74a3-a48a-233d9330b520%22%2C1763419772137%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fprimary-production-fb02.up.railway.app%2Fsignin%3Fredirect%3D%25252Fhome%25252Fworkflows%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19J9An8USnni%2FanjnQSrJmrJVcwyzS1th7L0cvV98%2B4Nr2zIxjNhXAPmFbhydyldNiWrER7IXPB6CPaUJGHLjxBeGIDakegCaF6lDHDcAAFIAWcnHW7H1gVwETJXvtMD0V7RIhfrz5fVg%3D%3D",
            "if-none-match": "W/\"258-mJuz2BWvl0GmplMCUS9n1tHZZMQ\"",
            "priority": "u=0, i",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "none",
            "sec-fetch-user": "?1",
            "upgrade-insecure-requests": "1",
            "x-forwarded-for": "189.8.94.179",
            "x-forwarded-host": "primary-production-fb02.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "mAyjVLlrQUCF8JFrCx5-qw",
            "x-real-ip": "189.8.94.179",
            "x-request-start": "1763422318932"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://primary-production-fb02.up.railway.app/webhook/history-sensor",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "POST History": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from DB": {
      "main": [
        [
          {
            "node": "Build HTML Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Table": {
      "main": [
        [
          {
            "node": "Respond HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET History": {
      "main": [
        [
          {
            "node": "Select rows from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "50624f91-6581-4c28-bdf4-004d6551fafe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae55024bd5cbcb660f23e7f005803e40434b65fc5b9535b0f2723cb2bbb76e1c"
  },
  "id": "al53M4LNPGKM9ZHI",
  "tags": []
}