n8n/Air Duino.json
{
  "name": "Air Duino",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-sensor",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "be99a3ce-a950-44ad-bfe4-17e9308a9128",
      "name": "POST History",
      "webhookId": "e1acbe4e-49c1-4e43-8402-7a6907aec2f8"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "hardware",
          "mode": "list",
          "cachedResultName": "hardware"
        },
        "table": {
          "__rl": true,
          "value": "airduino",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "vl_temperature": "={{ $json.body.temperatura }}",
            "vl_gas_co": "={{ $json.body.gases.co }}",
            "vl_gas_co2": "={{ $json.body.gases.co2 }}",
            "vl_gas_nh3": "={{ $json.body.gases.nh3 }}",
            "ts_medicao": "={{ $now }}",
            "vl_humidity": "={{ $json.body.umidade }}",
            "tx_status": "={{ $json.body.aqi_status }}",
            "vl_gas_benzene": "={{ $json.body.gases.benzeno }}",
            "vl_gas_acetone": "={{ $json.body.gases.acetona }}",
            "vl_adc_raw": "={{ $json.body.sensor_raw.adc }}",
            "vl_rs_ohm": "={{ $json.body.sensor_raw.rs_ohm }}",
            "vl_gas_alcohol": "={{ $json.body.gases.alcool }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ts_medicao",
              "displayName": "ts_medicao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vl_humidity",
              "displayName": "vl_humidity",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vl_temperature",
              "displayName": "vl_temperature",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vl_gas_co",
              "displayName": "vl_gas_co",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vl_gas_co2",
              "displayName": "vl_gas_co2",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vl_gas_nh3",
              "displayName": "vl_gas_nh3",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vl_gas_alcohol",
              "displayName": "vl_gas_alcohol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vl_gas_benzene",
              "displayName": "vl_gas_benzene",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vl_gas_acetone",
              "displayName": "vl_gas_acetone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vl_adc_raw",
              "displayName": "vl_adc_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vl_rs_ohm",
              "displayName": "vl_rs_ohm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tx_status",
              "displayName": "tx_status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "id": "db1e436e-7a98-46a5-8e75-512854559e81",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "nADI2Ex7xcsUB7KE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE SCHEMA IF NOT EXISTS hardware;\n\nDROP TABLE IF EXISTS hardware.\"airduino\";\n\nCREATE TABLE IF NOT EXISTS hardware.\"airduino\" (\n    \"id\" INTEGER NOT NULL UNIQUE GENERATED BY DEFAULT AS IDENTITY,\n    \"ts_medicao\" TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\n    \n    -- Dados Ambientais (DHT22)\n    \"vl_humidity\" NUMERIC(5,2) NOT NULL,\n    \"vl_temperature\" NUMERIC(5,2) NOT NULL,\n    \n    -- Gases Padrão (MQ-135)\n    \"vl_gas_co\" NUMERIC(10,2) NOT NULL,\n    \"vl_gas_co2\" NUMERIC(10,2) NOT NULL,\n    \"vl_gas_nh3\" NUMERIC(10,2) NOT NULL,\n    \n    -- Novos Gases (Adicionados no firmware)\n    \"vl_gas_alcohol\" NUMERIC(10,2) DEFAULT 0,\n    \"vl_gas_benzene\" NUMERIC(10,2) DEFAULT 0,\n    \"vl_gas_acetone\" NUMERIC(10,2) DEFAULT 0,\n    \n    -- Diagnóstico do Sensor (Importante para calibração futura)\n    \"vl_adc_raw\" INTEGER,      -- Valor bruto de 0 a 4095\n    \"vl_rs_ohm\" NUMERIC(10,2), -- Resistência calculada\n    \n    \"tx_status\" TEXT NOT NULL,\n    \n    PRIMARY KEY(\"id\")\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        448
      ],
      "id": "faca2637-b869-455d-8b42-4611aec0cb9b",
      "name": "CREATE",
      "credentials": {
        "postgres": {
          "id": "nADI2Ex7xcsUB7KE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "hardware",
          "mode": "list",
          "cachedResultName": "hardware"
        },
        "table": {
          "__rl": true,
          "value": "airduino",
          "mode": "list",
          "cachedResultName": "airduino"
        },
        "returnAll": true,
        "sort": {
          "values": [
            {
              "column": "ts_medicao"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        224
      ],
      "id": "611dd16c-bc1f-4201-bcf9-ac4d68247d7d",
      "name": "Select rows from DB",
      "credentials": {
        "postgres": {
          "id": "nADI2Ex7xcsUB7KE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const rows = items.map(i => i.json);\n\n// === EXTRAÇÃO DE DADOS ===\n// Formatando data para ficar legível (Dia/Mês Hora:Minuto)\nconst labels = rows.map(r => {\n    if (!r.ts_medicao) return '-';\n    const d = new Date(r.ts_medicao);\n    return `${d.getDate().toString().padStart(2, '0')}/${(d.getMonth()+1).toString().padStart(2, '0')} ${d.getHours()}:${d.getMinutes()}`;\n});\n\nconst temp    = rows.map(r => r.vl_temperature);\nconst hum     = rows.map(r => r.vl_humidity);\nconst co2     = rows.map(r => r.vl_gas_co2);\nconst co      = rows.map(r => r.vl_gas_co);\nconst nh3     = rows.map(r => r.vl_gas_nh3);\nconst alcohol = rows.map(r => r.vl_gas_alcohol);\nconst benzene = rows.map(r => r.vl_gas_benzene);\nconst acetone = rows.map(r => r.vl_gas_acetone);\n\n// HTML BUILDER\nlet html = `\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n<meta charset=\"UTF-8\" />\n<title>Painel de Monitoramento Airduino</title>\n<script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n<style>\n  body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background: #f4f7f6; margin: 0; color: #333; }\n  \n  /* Navbar */\n  .navbar {\n    background: linear-gradient(90deg, #0052cc 0%, #1e90ff 100%);\n    padding: 15px 20px; display: flex; gap: 25px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\n    align-items: center;\n  }\n  .navbar h1 { color: white; margin: 0; font-size: 20px; margin-right: auto; }\n  .navbar a {\n    color: white; text-decoration: none; font-size: 16px; font-weight: 600; cursor: pointer; \n    padding: 8px 16px; border-radius: 4px; transition: background 0.3s;\n  }\n  .navbar a:hover { background: rgba(255,255,255,0.2); }\n  \n  /* Container */\n  .container { max-width: 1400px; margin: auto; padding: 20px; }\n  \n  /* Cards */\n  .card {\n    background: white; border-radius: 8px;\n    box-shadow: 0 2px 10px rgba(0,0,0,0.05);\n    padding: 20px; margin-bottom: 25px;\n  }\n  h2 { color: #444; margin-bottom: 20px; border-bottom: 2px solid #f0f0f0; padding-bottom: 10px; }\n  h3 { font-size: 16px; color: #666; margin-bottom: 15px; text-align: center; }\n  \n  .hidden { display: none; }\n\n  /* Tabela Responsiva */\n  .table-wrapper { overflow-x: auto; }\n  table { width: 100%; border-collapse: collapse; font-size: 13px; white-space: nowrap; }\n  th, td { border: 1px solid #eee; padding: 12px 8px; text-align: center; }\n  th { background-color: #0052cc; color: white; font-weight: 600; }\n  tr:nth-child(even) { background: #f8f9fa; }\n  tr:hover { background: #e2e6ea; }\n  \n  /* Grids para Gráficos */\n  .grid-charts { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; }\n  @media(max-width: 1000px) { .grid-charts { grid-template-columns: 1fr; } }\n  canvas { width: 100%; max-height: 300px; }\n\n  /* Status Badges */\n  .badge { padding: 5px 10px; border-radius: 15px; color: white; font-weight: bold; font-size: 11px; }\n  .bg-green { background-color: #28a745; }\n  .bg-yellow { background-color: #ffc107; color: #333; }\n  .bg-red { background-color: #dc3545; }\n</style>\n</head>\n\n<body>\n\n<div class=\"navbar\">\n  <h1>🌬️ Airduino Monitor</h1>\n  <a onclick=\"showTab('home')\">📊 Painel Gráfico</a>\n  <a onclick=\"showTab('history')\">📋 Tabela Completa</a>\n</div>\n\n<div class=\"container\">\n\n<div id=\"home\" class=\"tab\">\n  <h2>Monitoramento Visual</h2>\n  \n  <div class=\"grid-charts\">\n      <div class=\"card\">\n        <h3>🌡️ Ambiente (Temperatura e Umidade)</h3>\n        <canvas id=\"chartClima\"></canvas>\n      </div>\n      \n      <div class=\"card\">\n        <h3>🏭 Gases Industriais (CO₂ e CO)</h3>\n        <canvas id=\"chartGasesComuns\"></canvas>\n      </div>\n  </div>\n\n  <div class=\"grid-charts\">\n      <div class=\"card\">\n        <h3>🚜 Amônia (NH₃)</h3>\n        <canvas id=\"chartAmonia\"></canvas>\n      </div>\n      \n      <div class=\"card\">\n        <h3>🧪 Compostos Orgânicos Voláteis (VOCs)</h3>\n        <canvas id=\"chartVOCs\"></canvas>\n      </div>\n  </div>\n</div>\n\n<div id=\"history\" class=\"tab hidden\">\n  <div class=\"card\">\n    <h2>Histórico Detalhado de Medições</h2>\n    <div class=\"table-wrapper\">\n      <table>\n        <thead>\n          <tr>\n            <th>ID</th>\n            <th>Data e Hora</th>\n            <th>Temperatura (°C)</th>\n            <th>Umidade (%)</th>\n            <th>Dióxido de Carbono (ppm)</th>\n            <th>Monóxido de Carbono (ppm)</th>\n            <th>Amônia (ppm)</th>\n            <th>Álcool (ppm)</th>\n            <th>Benzeno (ppm)</th>\n            <th>Acetona (ppm)</th>\n            <th>Leitura Bruta (ADC)</th>\n            <th>Resistência (kΩ)</th>\n            <th>Status Geral</th>\n          </tr>\n        </thead>\n        <tbody>`;\n\nfor (const r of rows) {\n  // Lógica simples de cor para status\n  let badgeClass = 'bg-green';\n  const st = r.tx_status || '';\n  if (st.includes('Alerta') || st.includes('Moderado')) badgeClass = 'bg-yellow';\n  if (st.includes('PERIGO') || st.includes('Ruim')) badgeClass = 'bg-red';\n\n  // Formatação Data\n  const dateStr = r.ts_medicao ? new Date(r.ts_medicao).toLocaleString('pt-BR') : '-';\n\n  html += `\n    <tr>\n      <td>${r.id ?? '-'}</td>\n      <td>${dateStr}</td>\n      <td>${r.vl_temperature ?? '-'}</td>\n      <td>${r.vl_humidity ?? '-'}</td>\n      <td>${r.vl_gas_co2 ?? '-'}</td>\n      <td>${r.vl_gas_co ?? '-'}</td>\n      <td>${r.vl_gas_nh3 ?? '-'}</td>\n      <td>${r.vl_gas_alcohol ?? '-'}</td>\n      <td>${r.vl_gas_benzene ?? '-'}</td>\n      <td>${r.vl_gas_acetone ?? '-'}</td>\n      <td style=\"color:#666; font-style:italic;\">${r.vl_adc_raw ?? '-'}</td>\n      <td style=\"color:#666; font-style:italic;\">${r.vl_rs_ohm ?? '-'}</td>\n      <td><span class=\"badge ${badgeClass}\">${st}</span></td>\n    </tr>`;\n}\n\nhtml += `\n        </tbody>\n      </table>\n    </div>\n  </div>\n</div>\n\n</div> <script>\n// Função de Troca de Abas\nfunction showTab(tabName) {\n  document.getElementById('home').classList.add('hidden');\n  document.getElementById('history').classList.add('hidden');\n  document.getElementById(tabName).classList.remove('hidden');\n}\n\n// Dados vindos do backend\nconst labels = ${JSON.stringify(labels)};\nconst dadosTemp = ${JSON.stringify(temp)};\nconst dadosHum = ${JSON.stringify(hum)};\nconst dadosCO2 = ${JSON.stringify(co2)};\nconst dadosCO = ${JSON.stringify(co)};\nconst dadosNH3 = ${JSON.stringify(nh3)};\nconst dadosAlc = ${JSON.stringify(alcohol)};\nconst dadosBen = ${JSON.stringify(benzene)};\nconst dadosAce = ${JSON.stringify(acetone)};\n\n// Configuração Base dos Gráficos\nconst commonOpts = {\n  responsive: true,\n  interaction: { mode: 'index', intersect: false },\n  plugins: { legend: { position: 'top' } }\n};\n\n// 1. Clima\nnew Chart(document.getElementById('chartClima'), {\n  type: 'line',\n  data: {\n    labels: labels,\n    datasets: [\n      { label: 'Temperatura (°C)', data: dadosTemp, borderColor: '#ff6384', backgroundColor: '#ff6384', tension: 0.3, yAxisID: 'y' },\n      { label: 'Umidade (%)', data: dadosHum, borderColor: '#36a2eb', backgroundColor: '#36a2eb', tension: 0.3, yAxisID: 'y1' }\n    ]\n  },\n  options: {\n    ...commonOpts,\n    scales: {\n      y: { type: 'linear', display: true, position: 'left', title: {display:true, text:'Temp'} },\n      y1: { type: 'linear', display: true, position: 'right', title: {display:true, text:'Umid'} }\n    }\n  }\n});\n\n// 2. Gases Comuns\nnew Chart(document.getElementById('chartGasesComuns'), {\n  type: 'line',\n  data: {\n    labels: labels,\n    datasets: [\n      { label: 'Dióxido de Carbono - CO2 (ppm)', data: dadosCO2, borderColor: '#4bc0c0', tension: 0.4, fill: true, backgroundColor: 'rgba(75, 192, 192, 0.1)' },\n      { label: 'Monóxido de Carbono - CO (ppm)', data: dadosCO, borderColor: '#ff9f40', tension: 0.4 }\n    ]\n  },\n  options: commonOpts\n});\n\n// 3. Amônia\nnew Chart(document.getElementById('chartAmonia'), {\n  type: 'line',\n  data: {\n    labels: labels,\n    datasets: [\n      { label: 'Amônia - NH3 (ppm)', data: dadosNH3, borderColor: '#9966ff', backgroundColor: 'rgba(153, 102, 255, 0.2)', fill: true, tension: 0.3 }\n    ]\n  },\n  options: commonOpts\n});\n\n// 4. VOCs\nnew Chart(document.getElementById('chartVOCs'), {\n  type: 'line',\n  data: {\n    labels: labels,\n    datasets: [\n      { label: 'Álcool (ppm)', data: dadosAlc, borderColor: '#e83e8c', tension: 0.3 },\n      { label: 'Benzeno (ppm)', data: dadosBen, borderColor: '#007bff', tension: 0.3 },\n      { label: 'Acetona (ppm)', data: dadosAce, borderColor: '#fd7e14', tension: 0.3 }\n    ]\n  },\n  options: commonOpts\n});\n\n</script>\n</body>\n</html>\n`;\n\nreturn [{ json: { html } }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        448,
        224
      ],
      "id": "d5184a03-44ce-486e-8bf2-bc93e800fc44",
      "name": "Build HTML Table"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json[\"html\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        224
      ],
      "id": "58844b5f-7fd8-4d78-b4c4-44c0cba8f640",
      "name": "Respond HTML"
    },
    {
      "parameters": {
        "path": "history-sensor",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        224
      ],
      "id": "0eb81008-ff8f-432e-869d-0613e4fbaf22",
      "name": "GET History",
      "webhookId": "e1acbe4e-49c1-4e43-8402-7a6907aec2f8"
    }
  ],
  "pinData": {
    "GET History": [
      {
        "json": {
          "headers": {
            "host": "primary-production-fb02.up.railway.app",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-PT,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "cache-control": "max-age=0",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX184Rbw1bRCRJQzwd1eKLCw2M7b8NrhHitA%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX18wW8vgbDKAHmv9wg8HUGzyCXWpNz4UvKQ%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2Bemy8oORa8PgO5bEFNMf8B1wb38RumHeqTtACQKkONvvN6cQdeREphuxi2scpnSDEROqeIKlRtIQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2Bz5nLTlwJl8OmsTUn7F6%2F00KpyVrSAJYTNbsNZ0VIWROfVc8hsvKSj7%2FIfXkcm5GCJ%2FFwG35ZCcaztGyFmTW0IWiVSHUJan7GcYze3m%2Bg1KxJ04Fp7I8HywuujB5Cffn1HRJvBKPkjQgEct3PuTtxTBuW7wrhJt0M%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FDj1EhToHD0jsTxt51lJ9M2N5ZyuSrw7QOhik1wsreMAKP3RVuiLU%2FoLjjee8koakgOJAF%2FaD5ko9KBGIa8PCGo%2B8vXVFGzViYvUxqWv8yuN%2BkUZbteslS343uc%2BrxWLi%2FcF18EiFyqgNOmYUsi8jpE5ynVvu6vsM%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22ae55024bd5cbcb660f23e7f005803e40434b65fc5b9535b0f2723cb2bbb76e1c%2335c7f969-6cbf-48ce-8787-ca4961737af3%22%2C%22%24sesid%22%3A%5B1763422281182%2C%22019a9402-5513-74a3-a48a-233d9330b520%22%2C1763419772137%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fprimary-production-fb02.up.railway.app%2Fsignin%3Fredirect%3D%25252Fhome%25252Fworkflows%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19J9An8USnni%2FanjnQSrJmrJVcwyzS1th7L0cvV98%2B4Nr2zIxjNhXAPmFbhydyldNiWrER7IXPB6CPaUJGHLjxBeGIDakegCaF6lDHDcAAFIAWcnHW7H1gVwETJXvtMD0V7RIhfrz5fVg%3D%3D",
            "if-none-match": "W/\"258-mJuz2BWvl0GmplMCUS9n1tHZZMQ\"",
            "priority": "u=0, i",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "none",
            "sec-fetch-user": "?1",
            "upgrade-insecure-requests": "1",
            "x-forwarded-for": "189.8.94.179",
            "x-forwarded-host": "primary-production-fb02.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "mAyjVLlrQUCF8JFrCx5-qw",
            "x-real-ip": "189.8.94.179",
            "x-request-start": "1763422318932"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://primary-production-fb02.up.railway.app/webhook/history-sensor",
          "executionMode": "production"
        }
      }
    ],
    "POST History": [
      {
        "json": {
          "headers": {
            "host": "primary-production-638b.up.railway.app",
            "content-length": "204",
            "content-type": "application/json",
            "x-forwarded-for": "79.127.227.69",
            "x-forwarded-host": "primary-production-638b.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/europe-west4-drams3a",
            "x-railway-request-id": "YMQ-KI5ZSaeC4-NPm3z_FQ",
            "x-real-ip": "79.127.227.69",
            "x-request-start": "1763587458393",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "sensor_raw": {
              "rs_ohm": 1.29,
              "adc": 3628
            },
            "aqi_status": "Bom",
            "gases": {
              "nh3": 4.3,
              "co": 3.91,
              "benzeno": 0.54,
              "co2": 402.83,
              "acetona": 0.46,
              "alcool": 1.31
            },
            "umidade": 40,
            "temperatura": 80
          },
          "webhookUrl": "https://primary-production-638b.up.railway.app/webhook/update-sensor",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "POST History": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from DB": {
      "main": [
        [
          {
            "node": "Build HTML Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Table": {
      "main": [
        [
          {
            "node": "Respond HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET History": {
      "main": [
        [
          {
            "node": "Select rows from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "162f2e85-9fab-43dc-820f-bcc7cf98ae45",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d2c305b884f735b279882bd1239d2740e611de7c05ede7c9614276a4a901399"
  },
  "id": "WV7YMjFKFx7AUWan",
  "tags": []
}